*, *::before, *::after {
  box-sizing: border-box;
}

.set-up {
  display: flex;
  gap: 10px;
}

#ship-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ships , #alignment {
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.ship, .align-option, #form-options-container > div {
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;

  border: 1px solid black;
  text-align: center;
}

.align-option > p {
  margin: 0;
}

#ship-form {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#coordinates-container > p {
  margin: 0;
}

#coordinates-container > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

input {
  width: 50%;
  border: none;
  outline: none;
  border-bottom: 2px solid  black;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

#form-options-container {
  flex-grow: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-options-container > div:hover {
  cursor: pointer;
  background-color: lightgray;
}

#form-options-container > div:active {
  background-color: gray;
}

#error-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: red;
}

#error-text {
  margin: 0;
}

/* Is added to whichever option is selected */
.selected {
  background-color: lightgray;
}

#set-up-grid {
  height: 100%;
  width: 600px;
}

.row {
  display: flex;
}

.boxy {
  border: 2px solid lightblue;
  aspect-ratio: 1 / 1;
  flex: 1 1 auto;
}

.box-ship {
  border: 2px solid lightgray;
  background-color: gray;
}

.game {
  display: flex;
  justify-content: space-between;
}

/* Hides setup or game depending on phase */
.hidden {
  display: none;
}